.ValueCell {
    border: 2px solid black;
    text-align: center;
    background: aliceblue;
    height: 1.5em;
    width: 1.5em;
}

.fixed-value {
    font-weight: bold;
}

.user-value {

}

.active-cell {
    border-width: 2px;
    border-color: #2f9f0c;
    border-style: dashed;
    color: #2f9f0c;
    background: #acee88;
    font-weight: bold;
}

.sibling-cell {
    background: #acee88;
}