.ValueCell {
    border: 2px solid black;
    text-align: center;
    background: aliceblue;
    font-weight: bold;
    height: 1.5em;
    width: 1.5em;
}

.active-cell {
    border: 2px solid #fc6882;
    color: #fc6882;
    background: #f3dadb;
}

.sibling-cell {
    border: 2px solid #be9ea0;
    color: #be9ea0;
    background: white;
}